
.clar {
    -fx-background-color:#e9faff;
}

.oscur {
    -fx-background-color:#adc2ff;
}

.buida{
	-fx-text-fill: #0041ff;
	-fx-font-weight: bold;
	-fx-background-color:white;
	-fx-font-size: 16px;
	
}

.mina{
	-fx-background-color:red;
}
